<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chnzxg.dao.AdminDao">
    <select id="qryAdmin" resultType="Admin">
        SELECT *
        FROM admin
        where aid &lt;&gt; 1
        <if test="aname!=null">
            and aname = #{aname}
        </if>
        order by aid desc
        <if test='firstRow!=null &amp; pageSize!=null'>
            limit #{firstRow},#{pageSize}
        </if>
    </select>
    <delete id="delAdmin">
        delete from admin
        where aid = #{aid}
    </delete>
    <update id="updAdmin">
        update admin set
        aname = #{aname}, apassword = #{apassword}
        <if test="lastlogintime!=null">
            , lastlogintime = #{lastlogintime}
        </if>
        where aid = #{aid}
    </update>
    <insert id="addAdmin">
        insert into admin (aname, apassword, creattime) values
        (#{aname}, #{apassword}, now())
    </insert>
    <select id="login" resultType="Admin">
        select * from admin
        where aname = #{aname} and apassword = #{apassword}
    </select>
    <update id="updLoginTime">
        update admin set lastlogintime = #{lastlogintime}
        where aid = #{aid}
    </update>
    <update id="updAPassword">
        update admin set apassword = #{apassword}
        where aid = a{id}
    </update>
    <select id="qryDetail" resultType="Admin">
        select * from ssms.admin
        where aid = #{aid}
    </select>
    <select id="checkAName" resultType="Admin">
        select * from ssms.admin
        where aname = #{aname}
    </select>
</mapper>