<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chnzxg.dao.CommodityDao">
	<select id="checkCName" resultType="Commodity">
		select * from ssms.commodity
		where cname = #{cname}
	</select>
	<select id="qryAllComm" resultType="Commodity" >
		SELECT c.*,f.fname 
		FROM commodity c,fine f 
		WHERE c.finid = f.finid
		<if test="cname!=null">
			and cname like "%"#{cname}"%"
		</if>
		<if test="finid!=null">
			and c.finid = #{finid}
		</if>
		<if test="cweight!=null">
			and cweight = #{cweight}
		</if>
		<if test="month!=null">
			and month = #{month}
		</if>
        <if test="cstatus!=null">
            and cstatus = #{cstatus}
        </if>
		order by comid DESC
        <if test='firstRow!=null &amp; pageSize!=null'>
            limit #{firstRow},#{pageSize}
        </if>
	</select>
	<delete id="delComm">
		delete from commodity
		where comid = #{comid}
	</delete>
	<insert id="addComm">
		insert into commodity
		(comid,cname,finid,cspec,cweight,cprice,cproder,cprodate,month,ccode,cstock,cdesc,cstatus)values
		(#{comid},#{cname},#{finid},#{cspec},#{cweight},#{cprice},#{cproder},#{cprodate},#{month},#{ccode},#{cstock},#{cdesc},1)
	</insert>
	<update id="updComm">
		update commodity set
		cname = #{cname},
		finid = #{finid},
		cspec = #{cspec},
		cweight = #{cweight},
		cprice = #{cprice},
		cproder = #{cproder},
		cprodate = #{cprodate},
		month = #{month},
		ccode = #{ccode},
		cstock = #{cstock},
		cdesc = #{cdesc}
		where comid = #{comid}
	</update>
	<select id="qryDetail" resultType="Commodity" >
		select * from commodity
		where comid = #{comid}
	</select>
	<update id="removeComm">
		update commodity
		set cstatus = 0
		where comid = #{comid}
	</update>
	<update id="recComm">
		update ssms.commodity
		set ssms.commodity.cstatus = 1
		where comid = #{comid}
	</update>

</mapper>