<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chnzxg.dao.ClazzDao">
	<select id="qryClazz" resultType="Clazz" >
		select * from class
	</select>
	<select id="qryFineByClazz" resultType="Fine" >
		select * from fine
		where claid = #{claid}
	</select>
	<select id="qryCommByFine" resultType="Commodity" >
		select * from commodity
		where finid = #{finid}
	</select>
</mapper>